@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: snow;
  background: #070809;
} */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #0077cc;
}

/* ::-webkit-scrollbar:horizontal {
  width: 6px;
} */

::-webkit-scrollbar-thumb:horizontal {
  background-color: #0077cc;
}

.ant-message {
  color: black;
}

pre {
  overflow: auto;
  width: 100%;
}

code {
  overflow: auto;
  width: 100%;
}

details {
  width: 100%;
}

summary {
  width: 100%;
}

.ant-tag {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.ant-btn > .anticon + span {
  margin: 0 !important;
  margin-inline-start: 0 !important;
}