/* Mobile optimization */


.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.tab {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  flex-direction: column;
}

.cloud {
  width: 75vw;
  height: 65vh;
  background: #070809;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form {
  width: 100%;
  position: relative;
}

.textarea {
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  background: #070809;
  color: #ECECF1;
  outline: none;
}



.header {
  width: auto;
}

.header p {
  text-align: center;
}

.installpluginbutton {
  margin-bottom: 24px;
  font-size: 1rem;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.topnav {
  background-color: #141619;
  border-bottom: 1px solid #30373d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0.75rem 1rem 0.75rem;
  align-items: center;
}

.navlogo,
.navlinks a {
  font-weight: 500;
}

.navlogo {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.navlinks {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinksrow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 4px;
}

.navlinksrow2 {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  width: max(60%, 325px);
  min-width: 200px;
  margin: 8px;
}

.select2 {
  width: max(60%, 325px);
  min-width: 200px;
  margin: 8px;
}

.navlinkscolumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.navlinks2 {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.apptitle {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}


.label {
  font-size: 1rem;
  padding: 8px 0;
  width: 75vw;
  display: flex;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
  position: absolute;
  bottom: 3.6rem;
  right: 1rem;
  color: rgb(0, 0, 0);
  background: rgb(165, 162, 162);
  border-radius: 4px;
  padding: 0.3rem;
  padding-top: 0.35rem;
  width: 140px;
  height: 30px;
  padding-right: 0.7rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.pineconegeneratebutton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: rgb(0, 0, 0);
  background: rgb(165, 162, 162);
  border-radius: 4px;
  padding: 0.3rem;
  width: 140px;
  height: 30px;
  padding-right: 0.7rem;
  border: none;
  display: flex;
  z-index: 10;
}

.loadingwheel {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  z-index: 10;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: #5f6368;
  z-index: 10;
}

.openaisvgicon {
  height: 1.3em;
  width: 5rem;
  fill: #000000;
  z-index: 10;
  padding-right: 8px;
  padding-left: 4px;
  margin-right: 26px;
}

.pineconesvgicon {
  height: 1.2em;
  width: 6rem;
  fill: #000000;
  z-index: 10;
  padding-right: 8px;
  padding-left: 4px;
  margin-right: 12px;
}





.pineconegeneratebutton:hover {
  background: #f9ff7d;
  border-radius: 0.2rem;
}

.pineconegeneratebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.generatebutton:hover {
  background: #8bb6ff;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #070809;
  padding: 1.5rem;
  color: #ECECF1;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #ECECF1;
  background: linear-gradient(to left, #070809, #1a1c20, #070809);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #141619;
  padding: 1rem;
  color: #ECECF1;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
  flex-grow: 1;
  width: 100%;
  /* overflow-y: scroll; */
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #16bed7;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}




.leftform {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 0 0;
  flex-direction: column;
}

.left {
  display: flex;
  width: 75vw;
  padding: 8px;
}

.summary {
  margin-bottom: 8px;
  color: rgb(165, 162, 162);
}



.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.copyButton {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.6rem;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 4px;
}

.talkButton {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.6rem;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 4px;
  position: relative;
}

.talk svg {
  animation: talk 1s infinite alternate;
  width: 25px;
  height: 25px;
  color: limegreen;
  position: absolute;
  top: -28px;
  left: -65px;
}

@keyframes talk {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.copyButton:hover {
  opacity: 1;
}

.verticalButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
}

.table2 textarea {
  width: 100%;
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #30373d;
  background: #070809;
  color: #ECECF1;
  outline: none;
  height: 120px;
  resize: none;
}


.table2 textarea:disabled {
  opacity: 0.5;
}

.table2 textarea::placeholder {
  color: #5f6368;
}

.table2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.table2 td {
  padding: 6px;
  border-right: solid rgb(101, 101, 101) 1px;
  border-bottom: solid rgb(101, 101, 101) 1px;
  vertical-align: top;
}

.table2 th:nth-child(1),
.table2 td:nth-child(1) {
  max-width: 10vw;
  /* Example: Adjust the width as needed */
  width: 10vw;
  text-align: right;
}

.table2 th:nth-child(2),
.table2 td:nth-child(2) {
  max-width: 10vw;
  /* Example: Adjust the width as needed */
  width: 10vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(3),
.table2 td:nth-child(3) {
  max-width: 20vw;
  /* Example: Adjust the width as needed */
  width: 20vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(4),
.table2 td:nth-child(4) {
  max-width: 20vw;
  /* Example: Adjust the width as needed */
  width: 20vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(5),
.table2 td:nth-child(5) {
  max-width: 8vw;
  /* Example: Adjust the width as needed */
  width: 8vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(6),
.table2 td:nth-child(6) {
  max-width: 5vw;
  /* Example: Adjust the width as needed */
  width: 5vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(7),
.table2 td:nth-child(7) {
  max-width: 5vw;
  /* Example: Adjust the width as needed */
  width: 5vw;
  text-align: left;
  word-wrap: break-word;
}

.table2 th:nth-child(8),
.table2 td:nth-child(8) {
  max-width: 8vw;
  /* Example: Adjust the width as needed */
  width: 8vw;
  text-align: center;
  border-right: none;

}

.table2 tr:last-child td {
  border-bottom: none;
}

.table2 th {
  padding: 8px;
  border-right: solid rgb(255, 255, 255) 1px;
  background-color: rgba(106, 126, 255, 0.689);
  vertical-align: center;
  text-align: center !important;
}

.savebutton {
  color: rgb(0, 0, 0);
  background: rgb(165, 162, 162);
  border-radius: 4px;
  padding: 2px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: 90%;
  margin: 16px auto;
}

@media (max-width: 600px) {

  .main {
    padding: 1rem;
  }

  .tab {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cloud {
    width: 90vw;
    height: 80vh;
    /* width: 22rem;
    height: 28rem; */
  }

  .center {
    width: 90vw;
    padding: 1rem 0;
    flex-direction: column;
  }

  .textarea {
    width: 90vw;
    font-size: 1rem;
    padding: 8px;
  }

  .topnav {
    border: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 10rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  .navlinksrow2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    color: #5f6368;
    font-size: 0.4rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boticon,
  .usericon {
    margin-right: 0rem;
    border-radius: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .apimessage,
  .usermessage,
  .usermessagewaiting {
    padding: 8px;
  }

  .select {
    width: max(100%, 325px);
    min-width: 200px;
    margin: 8px;
  }

  .select2 {
    width: max(100%, 325px);
    min-width: 200px;
    margin: 8px;
  }

  .ant-tag {
    font-size: 8px;
  }

  .generatebutton {
    bottom: 3.6rem;
    right: 0.5rem;
  }

  .pineconegeneratebutton {
    bottom: 1rem;
    right: 0.5rem;
  }

  .table2 textarea {
    width: 100%;
    font-size: 0.5rem;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid #30373d;
    background: #070809;
    color: #ECECF1;
    outline: none;
    height: 95px;
    resize: none;
  }

  .table2 textarea:disabled {
    opacity: 0.5;
  }

  .table2 textarea::placeholder {
    color: #5f6368;
  }

  .table2 {
    width: 95vw;
  }

  .table2 td {
    padding: 2px;
  }

  .table2 th:nth-child(1),
  .table2 td:nth-child(1) {
    max-width: 10vw;
    /* Example: Adjust the width as needed */
    width: 10vw;
    text-align: right;
  }

  .table2 th:nth-child(2),
  .table2 td:nth-child(2) {
    max-width: 10vw;
    /* Example: Adjust the width as needed */
    width: 10vw;
  }

  .table2 th:nth-child(3),
  .table2 td:nth-child(3) {
    max-width: 20vw;
    /* Example: Adjust the width as needed */
    width: 20vw;
  }

  .table2 th:nth-child(4),
  .table2 td:nth-child(4) {
    max-width: 20vw;
    /* Example: Adjust the width as needed */
    width: 20vw;
  }

  .table2 th:nth-child(5),
  .table2 td:nth-child(5) {
    max-width: 8vw;
    /* Example: Adjust the width as needed */
    width: 8vw;
  }

  .table2 th:nth-child(6),
  .table2 td:nth-child(6) {
    max-width: 7vw;
    /* Example: Adjust the width as needed */
    width: 7vw;
  }

  .table2 th:nth-child(7),
  .table2 td:nth-child(7) {
    max-width: 7vw;
    /* Example: Adjust the width as needed */
    width: 7vw;
  }

  .table2 th:nth-child(8),
  .table2 td:nth-child(8) {
    max-width: 10vw;
    /* Example: Adjust the width as needed */
    width: 10vw;
  }

  .table2 tr:last-child td {
    border-bottom: none;
  }

  .table2 th {
    padding: 2px;
    font-size: 0.4rem;
  }

  .installpluginbutton {
    margin-bottom: 12px;
    font-size: 0.8rem;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .savebutton {
    border-radius: 4px;
    padding: 0.2rem;
    font-size: 0.4rem;
    height: 0.8rem;
    margin: 16px 4px;
    width: 1.8rem;
  }

  .navlogo {
    font-size: 1rem;
    margin-left: 8px;
  }
}

.ant-btn>span {
  margin-inline-start: 0px !important;
  margin-left: 0px !important;

}