.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 8px;
}

.video {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    width: 75vw;
}
.image {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}